body {
  font-family: Poppins, "sans-serif";
  letter-spacing: 0.03em;
  background-color: #141e55;
  color: #192a32;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
}

.header {
  background: #192a32;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  padding: 14.5px 32px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 128%;
  color: #ffffff;
  background-color: #141e55;
  text-decoration: none;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 21px;
  border-radius: 16px;
  height: 48px;
  background-color: #1a3769;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 24px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  color: #fcfcfc;
}

.site-nav__icon {
  fill: #ffffff;
  margin-right: 10px;
}

.language-btn {
  padding: 14px 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: none;
  height: 48px;
  color: #ffffff;
  background-color: #1a3769;
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
}

.language-btn__icon {
  margin-left: 9px;
}

.registration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}
.registration__item:last-child {
  margin-right: 0;
}

.registration__btn {
  padding: 14px 32px;
  border: none;
  border-radius: 16px;
  color: #fcfcfc;
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  cursor: pointer;
  text-transform: uppercase;
}
.registration__btn--register {
  background-color: #ec622b;
}
.registration__btn--login {
  background-color: #0fa810;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.hero-section__mobileApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px;
  width: 925px;
  height: 98px;
  background: #ffffff;
  border-radius: 6px;
}

.hero-section__mobileApp-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  width: 666px;
}

.hero-section__mobileApp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 179px;
  height: 48px;
  padding: 13px 12px 14px 16px;
  background: #1a3769;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-section__block {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 41px 0 52px 20px;
  width: 925px;
  height: 384px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(20, 30, 85, 0.6)), to(rgba(20, 30, 85, 0.6))), url(../../images/hero-section-background.webp);
  background: linear-gradient(0deg, rgba(20, 30, 85, 0.6), rgba(20, 30, 85, 0.6)), url(../../images/hero-section-background.webp);
  border-radius: 6px;
}

.hero-section__background-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.hero-section__baseballPlayer-img {
  position: absolute;
  top: 0;
  right: 48px;
  z-index: 5;
}

.hero-section__rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section__rating {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  margin-right: 8px;
  color: #ffffff;
}

.hero-section__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section__rating-item {
  margin-right: 6px;
}
.hero-section__rating-item:last-child {
  margin-right: 0;
}

.hero-section__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  width: 538px;
  text-transform: uppercase;
  z-index: 10;
  margin-top: 35px;
  margin-bottom: 16px;
  color: #ffffff;
}

.hero-section__signUp-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 214px;
  height: 48px;
  padding: 14px 74px;
  margin-bottom: 10px;
  background: #ec622b;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  color: #fcfcfc;
  -webkit-box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  border-radius: 16px;
}

.hero-section__age-warning {
  position: relative;
  margin-left: 50px;
  font-weight: 400;
  font-size: 6px;
  line-height: 150%;
  color: #ffffff;
}

.hero-section__features-block {
  width: 925px;
  height: 166px;
  background: #ffffff;
  border-radius: 6px;
  padding: 32px 20px;
}

.hero-section__features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section__features-item {
  border-radius: 6px;
  margin-right: 1px;
}

.hero-section__features-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98px;
  height: 102px;
  background: #f7f7f7;
  text-decoration: none;
  padding: 10px;
}
.hero-section__features-link--current {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
          box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
}
.hero-section__features-link--current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #2e9344;
  border-radius: 0px 0px 6px 6px;
  top: 0;
  left: 0;
}

.hero-section__features-text {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #192a32;
}

.aside-live-events {
  position: relative;
  width: 295px;
  height: 704px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 20px;
}

.aside-live-events__title {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 295px;
  height: 88px;
  background: #192a32;
  border-radius: 6px 6px 0px 0px;
}

.aside-live-events__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  width: 251px;
  height: 48px;
  background: #ec622b;
  border-radius: 60px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fcfcfc;
}

.aside-live-events__list {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-live-events__item {
  width: 295px;
  margin-bottom: 2px;
}

.aside-live-events__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7c7c7c;
  padding: 8px 0px 8px 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside-live-events__link:hover, .aside-live-events__link:focus {
  color: #fcfcfc;
  background-color: #192a32;
}

.aside-live-events__img {
  margin-right: 12px;
}

.bonus-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.bonus-section__block {
  position: relative;
  width: 925px;
  height: 384px;
  padding: 90px 0 90px 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 6px;
}

.bonus-section__background-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.bonus-section__stopSign-img {
  position: absolute;
  top: 70px;
  right: 150px;
  z-index: 5;
}

.bonus-section__cards-img {
  position: absolute;
  top: 25px;
  right: 5px;
  z-index: 10;
}

.bonus-section__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #192a32;
  margin-bottom: 16px;
}

.bonus-section__text {
  position: relative;
  width: 496px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #192a32;
  margin-bottom: 16px;
}

.bonus-section__btn {
  position: relative;
  width: 214px;
  background: #ec622b;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
          box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  border-radius: 16px;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  text-transform: uppercase;
  cursor: pointer;
  color: #fcfcfc;
}

.additional-bonusInfo__block {
  width: 925px;
  height: 234px;
  background: #ffffff;
  border-radius: 6px;
  padding: 32px 20px;
  margin-bottom: 20px;
}

.additional-bonusInfo__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #192a32;
  margin-bottom: 16px;
}

.additional-bonusInfo__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #192a32;
}

.aside-casino {
  width: 295px;
  height: 510px;
  background: #ffffff;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: 20px;
}

.aside-casino__header {
  width: 295px;
  height: 60px;
  background: #192a32;
  border-radius: 6px 6px 0 0;
}

.aside-casino__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  color: #fcfcfc;
}

.aside-casino__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px 20px 25px;
  margin-top: 20px;
}

.aside-casino__item {
  margin-right: 10px;
  margin-bottom: 10px;
}
.aside-casino__item:nth-child(even) {
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */