.hero-section {
  display: flex;
  padding-top: 20px;
}

.hero-section__mobileApp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  width: 925px;
  height: 98px;
  background: #ffffff;
  border-radius: 6px;
}

.hero-section__mobileApp-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  width: 666px;
}

.hero-section__mobileApp-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 179px;
  height: 48px;
  padding: 13px 12px 14px 16px;
  background: #1a3769;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-section__block {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 41px 0 52px 20px;
  width: 925px;
  height: 384px;
  background: linear-gradient(
      0deg,
      rgba(20, 30, 85, 0.6),
      rgba(20, 30, 85, 0.6)
    ),
    url(../../images/hero-section-background-1.jpeg);
  border-radius: 6px;
}

.hero-section__background-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.hero-section__baseballPlayer-img {
  position: absolute;
  top: 0;
  right: 48px;
  z-index: 5;
}

.hero-section__rating-wrapper {
  display: flex;
}

.hero-section__rating {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  margin-right: 8px;

  color: #ffffff;
}

.hero-section__rating-list {
  display: flex;
  align-items: center;
  //   justify-content: center;
}

.hero-section__rating-item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.hero-section__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  width: 538px;
  text-transform: uppercase;
  z-index: 10;
  margin-top: 35px;
  margin-bottom: 16px;

  color: #ffffff;
}

.hero-section__signUp-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 48px;
  padding: 14px 74px;
  margin-bottom: 10px;
  background: #ec622b;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  color: #fcfcfc;

  box-shadow: 0px 4px 18px rgba(14, 24, 17, 0.25);
  border-radius: 16px;
}

.hero-section__age-warning {
  position: relative;
  margin-left: 50px;
  font-weight: 400;
  font-size: 6px;
  line-height: 150%;
  color: #ffffff;
}

.hero-section__features-block {
  width: 925px;
  height: 166px;
  background: #ffffff;
  border-radius: 6px;
  padding: 32px 20px;
}

.hero-section__features-list {
  display: flex;
}

.hero-section__features-item {
  border-radius: 6px;
  margin-right: 1px;
}

.hero-section__features-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 98px;
  height: 102px;
  background: #f7f7f7;
  text-decoration: none;

  padding: 10px;

  &--current {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 1px 12px rgba(10, 98, 106, 0.15);
  }

  &--current::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #2e9344;
    border-radius: 0px 0px 6px 6px;
    top: 0;
    left: 0;
  }
}

// .hero-section__features-icon {
//   margin-bottom: 10px;
// }

.hero-section__features-text {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #192a32;
}

.aside-live-events {
  position: relative;
  width: 295px;
  height: 704px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 20px;
}

.aside-live-events__title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 88px;
  background: #192a32;
  border-radius: 6px 6px 0px 0px;
}

.aside-live-events__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 251px;
  height: 48px;
  background: #ec622b;
  border-radius: 60px;
  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fcfcfc;
}

.aside-live-events__list {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.aside-live-events__item {
  width: 295px;
  margin-bottom: 2px;
}

.aside-live-events__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7c7c7c;
  padding: 8px 0px 8px 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fcfcfc;
    background-color: #192a32;
  }
}

.aside-live-events__img {
  margin-right: 12px;
}
